* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-cursor {
    width: 50px;
    height: 50px;
    background: url('/assets/cursor-default.png') no-repeat center center;
    background-size: contain;
    position: fixed; /* Fixed positioning for the cursor */
    pointer-events: none;
    transition: transform 0.1s, width 0.1s, height 0.1s, background 0s; /* Add background transition */
    z-index: 10001; /* Ensure the cursor is always above the overlay */
}

.custom-cursor:hover {
    transition-delay: 1s; /* Delay hover effect */
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 10000; /* Lower z-index to ensure overlay is below the cursor */
}

.overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    max-height: 95%;
    background: white;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.overlay-image-wrapper {
    padding-top: 20px; /* Add padding above the image */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.overlay-content img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

.overlay-caption {
    margin-top: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    border-radius: 5px;
    max-width: 300px;
    word-wrap: break-word;  /* Ensure long text wraps nicely */
    text-align: center;
}

.close-overlay {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #ff6347;
    color: white;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

body {
    cursor: none;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
}

header .navigation-container {
    display: flex;
    align-items: center;
    background-color: #333;
}

header .navigation {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
    padding: 0 5px; /* Add padding between links */
    font-weight: bold;
}

header .navigation:hover {
    color: #ff6347; /* Change to your desired hover color */
}

header .social-icons {
    display: flex;
    align-items: center;
}

header .social-icons a {
    margin-left: 15px;
}

header .social-icons img {
    width: 24px;
    height: 24px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjusted min-width for desktop */
    gap: 10px;
    padding: 10px;
}

.image-grid img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjusted min-width for mobile */
  }
}

.food-image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
}

.food-card {
    perspective: 1000px;
}

.food-card-inner {
    position: relative;
    width: 100%;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.food-card-inner.is-flipped {
    transform: rotateY(180deg);
}

.food-card-front, .food-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}

.food-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2; /* Ensure front side is above the back side */
}

.food-card-front img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s;
}

.food-card-front:hover img {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

.food-card-front .see-recipe-btn {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.food-card-front:hover .see-recipe-btn {
    display: block;
}

.food-card-front .see-recipe-btn:hover {
    background-color: black;
    color: white;
}

.food-card-back {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    transform: rotateY(180deg);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Patrick Hand', cursive; /* Apply the handwritten font */
    overflow: auto;
    z-index: 1; /* Ensure back side is below the front side */
}

.recipe-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 2px solid red;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.ingredients-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.ingredients-list li {
    padding: 5px 0;
    border-bottom: 1px solid blue;
    box-sizing: border-box;
    width: 100%;
}

.recipe-description {
    margin-top: 15px;
    font-size: 16px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header .logo {
    margin-right: 0;
    margin-bottom: 10px;
  }

  header .social-icons {
    justify-content: flex-start;
  }

  .overlay-content {
    max-width: 95%;
    max-height: 95%;
    padding: 10px;
  }

  .close-overlay {
    top: 5px;
    right: 5px;
    padding: 3px 6px;
    font-size: 14px;
  }
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #333; /* Optional: Add a background color to the footer */
}

.footer-image {
  max-width: 100%;
  height: auto;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.disable-hover * {
    pointer-events: none !important;
}

/* Navigation Container */
.navigation-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
}

/* Navigation Links */
.navigation {
    display: inline-block;
    width: 50px; /* Set a consistent width for the icons */
    height: 50px; /* Set a consistent height for the icons */
    text-align: center;
    line-height: 50px; /* Center the icons vertically */
}

.navigation img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

/* Social Button Container */
.social-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

/* Social Button */
.social-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f8f8;
    border: 3px solid #000000;
    cursor: pointer;
    transition: transform 0.3s;
}

.social-button img {
    max-width: 100%;
    max-height: 100%;
}

/* Social Icons */
.social-icons {
    display: none;
    flex-direction: row;
    gap: 10px;
}

.social-button:hover .social-icons {
    display: flex;
}

/* Social Links */
.social-icons a {
    text-decoration: none;
    color: #333;
}

.social-icons img {
    width: 50px;
    height: 50px;
}
